@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #eeeef0;
  --foreground: #171717;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

/* Custom range input styling */
input[type="range"] {
  @apply appearance-none w-full cursor-pointer;
  background: transparent;
  height: 12px;
  border: none;
}

input[type="range"]::-webkit-slider-thumb {
  @apply appearance-none cursor-pointer;
  width: 12px;
  height: 12px;
  background: black;
  border-radius: 50%;
  border: none;
  margin-top: -6px;
}

input[type="range"]::-moz-range-thumb {
  width: 12px;
  height: 12px;
  background: black;
  border-radius: 50%;
  border: none;
  cursor: pointer;
}

input[type="range"]::-webkit-slider-runnable-track {
  height: 0.75px;
  background: black;
}

input[type="range"]::-moz-range-track {
  height: 0.75px;
  background: black;
  border: none;
}

/* Color input styling */
input[type="color"] {
  @apply cursor-pointer;
}

input[type="color"]::-webkit-color-swatch-wrapper {
  padding: 0;
}

input[type="color"]::-webkit-color-swatch {
  border: none;
}
